html{
  background-color: rgb(23, 23, 23);
}

.container-fluid{
  background-color: rgb(37, 41, 41);
}

input[type="text"]{
  background: transparent;
  color:white;
}

input[type="text"]:focus{
  background: transparent;
  color:white;
}